.section-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-title p {
    font-size: 1.25rem;
    color: #6c757d;
}

.card .card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card .card-text {
    flex-grow: 1;
    font-size: 1rem;
    color: #6c757d;
}

.card .btn {
    background-color: #002044;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}

.card .btn:hover {
    background-color: #fd7c07;
    color: #ffffff;
}

.btn-custom {
    background-color: #002044;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block; /* Ensures button width doesn't expand */
}

.btn-custom:hover {
    background-color: #fd7c07;
    color: #ffffff;
    transform: scale(1.05);
}

.text-custom{
    color: #fd7c07;
}
.text-custom:hover {

    transform: scale(1.09);
}

.btn-service{
    background-color: #002044;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block; /* Ensures button width doesn't expand */
}

.btn-service:hover {
    background-color: #fd7c07;
    color: #ffffff;
    transform: scale(1.05);
}

.center {
    text-align: center; /* Center aligns inline elements */
}

.btn-blue {
    background-color: #002044;
    color: #ffffff;
}

.btn-blue:hover {
    background-color: #fd7c07;
    transform: scale(1.05);
    color: #ffffff;
}

/* service_details card */
.custom-card-container {
    margin-top: 20px;
}

.custom-card {
    overflow: hidden;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #e6e6e968;
}

.custom-card-img-top {
    height: 130px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-card-body {
    padding: 15px;
}

.custom-card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-weight: bold;
color: #002044 !important;
}



.custom-card-subtitle {
    font-size: 0.9rem;
    color: #6c757d;
}

.custom-card-subtitle-span{
font-weight: bolder;
}

.custom-card-text {
    font-size: 0.9rem;
}

.custom-btn {
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: #fd7c07;
    border-color: #fd7c07;
}

.custom-price {
    font-size: 1rem;
font-weight: bold;
}

.new_icon{
    height: 6rem;
    width: 6rem;
}

