/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
body {
    background: #ecf0f3;
}
.custom-wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 8rem auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.custom-logo {
    width: 80px;
    margin: auto;
}

.custom-logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #484848, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.custom-wrapper .custom-name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #484848;
}

.custom-form-field {
    position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.custom-form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #484848;
    padding: 10px 15px 10px 10px;
}

.custom-form-field .fas, .custom-form-field .far {
    color: #555;
}

.invalid-feedback {
    color: red;
    font-size: 0.8rem;
    padding-top: 5px;
}

.custom-wrapper .custom-btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #fd7c07;
    border-color: #fd7c07;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.custom-wrapper .custom-btn:hover {
    background-color: #fd7c07;
}

.custom-wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #484848;
}

.custom-wrapper a:hover {
    color: #002044;
}

.center{
text-align: center;
}

@media(max-width: 380px) {
    .custom-wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}

